//color
$main-dark: #6AC46A;
$main-dark-light: hsl(120, 44%, 83%);
$main-light: #81E181;
$main-background: #C2E1B1;
$button-color: #AED797;
$secondary-text-color: #B2B2B2;

// font
$main-font: Istok web;

// main
$main-1: #E4FFEA;

// chatBox
$chat-box-modal: #e3e3e3;
$chat-box-text: #9b9b9b;

// settings 
$settings-background: #A5F0A5;
$settings-btn: #D3FFD8;